/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: 255, 255, 255;
  --vt-c-black: 24, 24, 24;
  --vt-c-black-mute: 125, 125, 125;

  --system: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --serif: 'Noto Serif', serif;

  --cursive: 'Gloria Hallelujah', cursive;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-text: var(--vt-c-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-text: var(--vt-c-white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: rgba(var(--color-text), 1);
  background: rgba(var(--color-background), 1);
  font-family: var(--serif);

  font-weight: 400;
  font-style: normal;

  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;
  font-optical-sizing: auto;
  line-height: 1.25;
}

a {
  color: rgba(var(--color-text), 0.8);
  /* text-decoration: none; */
  &:hover {
    text-decoration: none;
    /* text-decoration: underline; */
    color: rgba(var(--color-text), 1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1em; /* relative to font size */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 1rem 0; /* relative to font size */
}

h1 {
  font-size: 3.5em;
} /* 16px x 3.5 = 56px */
h2 {
  font-size: 3em;
} /* 16px x 3   = 48px */
h3 {
  font-size: 2.5em;
} /* 16px x 2.5 = 40px */
h4 {
  font-size: 2em;
} /* 16px x 2   = 32px */
h5 {
  font-size: 1.5em;
} /* 16px x 1.5 = 24px */
h6 {
  font-size: 1em;
} /* 16px x 1   = 16px */

.blink::after {
  content: '█';
  animation: blink 1s infinite step-start;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}
